# ROMs e BIOS
roms/**/*
!roms/**/.gitkeep
*.bin
*.iso
*.z64
*.n64
*.smc
*.sfc
*.gba
*.nds
*.cue
*.img
*.mdf
*.pbp
bios/
*.bios

# Saves
saves/
states/
*.sav
*.state

# Logs
*.log
.DS_Store
Thumbs.db
.env
